<!--The content below is only a placeholder and can be replaced.-->
<div class="sidenav-container">
  <mat-sidenav-container class="sidenav">
    <mat-sidenav class="left-bar" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" [opened]="true">
      <mat-form-field class="search-clients">
        <input matInput placeholder="Enter info" [(ngModel)]="searchText">
      </mat-form-field>

      <mat-nav-list class="clients-list">
        <mat-card *ngFor="let client of clients | filter: searchText" class="pointer" (click)="selectedClient(client)">
          <mat-card-header *ngIf="client !== -1">
            <div mat-card-avatar class="client-small-avatar" [style.backgroundImage]="'url(' + client.general.avatar + ')'"></div>
            <mat-card-title> {{ client.general.firstName }} {{ client.general.lastName }}</mat-card-title>
            <mat-card-subtitle> {{ client.job.title }} </mat-card-subtitle>
          </mat-card-header>

          <mat-card-header *ngIf="client === -1">
            <div>None results</div>
          </mat-card-header>
        </mat-card>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="view-detail">
      <app-client-detail [selectClient]="selecredClient"></app-client-detail>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

